.container {
  max-width: 1000px;
  margin: 0 auto;
}

.job-application {
  border: 1px solid #dddddd;
  padding: 20px;
  margin-top: 50px;
  border-radius: 10px;
}

.job-application h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.job-application p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.job-application ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

.job-application li {
  margin-bottom: 5px;
}

.job-application h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.job-application h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.job-application input[type="text"],
.job-application input[type="email"],
.job-application input[type="tel"],
.job-application textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 30px;
  border: 1px solid #dddddd;
  border-radius: 5px;
}

.job-application label {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.job-application .input-group {
  margin-bottom: 20px;
}

.job-application .input-group label {
  display: block;
}

.job-application .input-group input[type="text"],
.job-application .input-group input[type="email"],
.job-application .input-group input[type="tel"] {
  margin-top: 10px;
}

.job-application button[type="submit"] {
  background-color: #9dc08b;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

.job-application button[type="submit"]:hover {
  background-color: #9dc08b;
}
