* {
  font-family: monospace;
  font-size: 14pt;
}

#afterlogin, #beforelogin{
  background-color: #9dc08b !important;
}

.profile-nav{
 text-align: center;
 text-decoration: none;
 color: #343a40;
}

.profile-nav:hover{
  color:black;
 }
.navbar-brand {
  font-size: 36px;
  margin-left: 16px;
  color: white !important;
}

.material-symbols-outlined {
  display: block !important;
}

.nav-link {
  text-align: center;
}

#banner{
  width: 100vw;
  height: 30vh;
  background-image: url(https://dummyimage.com/1920x1080/2f3982/fff);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}