    /* Style the input field */
    /* #myInput {
      padding: 20px;
      margin-top: -6px;
      border: 0;
      border-radius: 0;
      background: #f1f1f1;
    } */
    .container {
      text-align: center;
    }

    #my-apps {
      color: #9DC08B;
      text-align: center;
      margin-top: 30px;
      margin-bottom: 30px;
      font-size: 30px;
      font-weight: bold;
    }

    .tab {
      display: flex;
      overflow: hidden;
      border: 1px solid #ccc;
      background-color: #f1f1f1;
      justify-content: center;
    }

    .tab button {
      background-color: inherit;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;
      font-size: 17px;
    }

    .tab button:hover {
      background-color: #ddd;
    }

    .tab button.active {
      background-color: #ccc;
    }

    .tabcontent {
      display: none;
      padding: 6px 12px;
      border: 1px solid #ccc;
      border-top: none;
    }

    .tabcontent ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    .tabcontent ul li {
      padding: 10px;
      border-bottom: 1px solid #ccc;
    }

    @media screen and (max-width: 730px) {
      .tab button {
        padding: 10px;
        font-size: 14px;
      }

      .tab {
        flex-wrap: wrap;
      }

      .tab button.active {
        background-color: inherit;
      }

      .tabcontent {
        padding: 12px;
      }
    }

    #application-table {
      border-collapse: collapse;
      margin: 25px 0;
      font-size: 0.9em;
      font-family: sans-serif;
      min-width: 400px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

    #application-table thead tr {
      background-color: #9DC08B;
      color: #ffffff;
      text-align: left;
    }

    #application-table th,
    #application-table td {
      padding: 12px 15px;
    }

    #application-table tbody tr {
      border-bottom: 1px solid #dddddd;
    }

    #application-table tbody tr:nth-of-type(even) {
      background-color: #f3f3f3;
    }

    #application-table tbody tr:last-of-type {
      border-bottom: 2px solid #9DC08B;
    }

    #application-table tbody tr.active-row {
      font-weight: bold;
      color: #9DC08B;
    }