.navbar {
  background-color: #9dc08b !important;
}

.navbar-brand {
  font-size: 36px;
  margin-left: 16px;
  color: white !important;
}

.material-symbols-outlined{
  display: block !important;
  text-align: center;
}