* {
  font-family: monospace;
  font-size: 14pt;
}

.navbar {
  background-color: #9dc08b !important;
}

.navbar-brand {
  font-size: 36px;
  margin-left: 16px;
  color: white !important;
}

.material-symbols-outlined{
  display: block !important;
}

.nav-link {
  text-align: center;
}

.profile-nav {
  display: flex;
  align-items: center;
}

.profile-nav .material-symbols-outlined {
  margin-right: 8px;
  transform: translateX(-16px);
}