.container {
  max-width: 1000px;
  display: inline;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.profile-pic {
  width: 50%;
}
#footerPlaceholder{
display: block;
}

label {
  position: relative;
  top: -60px;
  left: 55px;
  background-color:white;
  color: black;
  padding: 0.25rem;
  border-radius: 1.5rem;
  border: 2px solid black;
  cursor: pointer;
  margin-top: 1rem;
  text-align: center;

}

